<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../resources/images/logos/logo-seguridad-vial.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../resources/css/styles.css">
  <link rel="stylesheet" href="../resources/css/avances.css">
  <title>Avances</title>
</head>

<body>
  <div class="nav-bar-container">
    <div class="nav-left">
      <img src="../resources/images/logos/logo-seguridad-vial.png" alt="top-left-logo" srcset="">
    </div>
    <ul class="nav-right">
      <li><a href="../index.html#banner">Inicio</a></li>
      <li><a href="../index.html#goal">Objetivo</a></li>
      <li><a href="./integrantes.html">Integrantes</a></li>
      <li><a href="./avances.html">Avances</a></li>
      <li><a href="./juegos.html">Juegos</a></li>
    </ul>
    <div class="menu-btns">
      <i class="fa-bars fa" id="menu"></i>
      <!-- <i class="fa fa-close" id="close"></i> -->
    </div>
  </div>
  <div class="menu-overlay hidden-menu">
    <ul class="items">
      <li><a href="../index.html#banner">Inicio</a></li>
      <li><a href="../index.html#goal">Objetivo</a></li>
      <li><a href="./integrantes.html">Integrantes</a></li>
      <li><a href="./avances.html">Avances</a></li>
      <li><a href="./juegos.html">Juegos</a></li>
    </ul>
  </div>
  <section class="banner-container" id="banner">
    <div class="banner"></div>
    <div class="overlay">
      <h1>AVANCES</h1>
    </div>
  </section>
  <section class="general-section target-audience" id="target">
    <h2>Público objetivo</h2>
    <div class="target-content">
      <p>
        El sitio de seguridad vial está dirigido a un <span>público amplio y diverso</span> con el objetivo de fomentar
        la <span> conciencia y educación </span> sobre la seguridad en las vías. Nuestra propuesta web es inclusiva
        y no distingue por género. Nos dirigimos a niños y adolescentes de 6 a 18 años,
        aunque también incluimos contenido para adultos interesados en la seguridad vial.
        Motivo por el cual la pagina está diseñada para ser atractiva y accesible para un amplio público.<br><br>
        <span>"Seguridad Vial: Todos Somos Responsables"</span>
      </p>
    </div>
  </section>
  <section class="general-section color-palette" id="palette">
    <h2 id="palette-title">Paleta de colores</h2>
    <div class="palette-content">
      <div class="box box1">#009EDF</div>
      <div class="box box2">#FCC31E</div>
      <div class="box box3">#FF232B</div>
      <div class="box box4">#22262A</div>
    </div>
    <div>
      <p class="palette-text">
        El <span> motivo </span> por el que elegimos esta paleta de colores es porque se relacionan con las señales de
        tránsito y sus significados: amarillo para "alerta",
        rojo para "peligro", azul para "información y servicios", y negro para "reglamentación y restricciones".
        Cada color está cuidadosamente seleccionado para comunicar mensajes específicos de manera clara y efectiva,
        mejorando la seguridad vial.
      </p>
    </div>
  </section>
  <section class="general-section typography" id="font">
    <h2>Tipografía</h2>
    <div class="font-content">
      <br>
      <p>
        Optamos por la tipografia “Roboto” porque es una fuente que se destaca por su <span>claridad</span> y
        <span>legibilidad</span> en pantalla,
        lo cual es crucial para asegurar que la información de seguridad vial sea fácilmente comprensible.
        Además, esta tiene un <span>diseño moderno y limpio </span> que se adapta bien a una variedad de contextos,
        incluyendo aplicaciones web y móviles.
        Y al ser compatible con todos los navegadores, asegura una <span>experiencia</span> consistente para todos los
        usuarios.
      </p>
    </div>
  </section>
  <section class="general-section logo">
    <h2>Logo</h2>
    <img src="../resources/images/logos/logo-seguridad-vial.png" alt="Logo Seguridad Vial">
  </section>
  <section class="general-section dominio">
    <h2>Dominio</h2>
    <p>Dominio generado por Github Pages</p>
  </section>
  <section class="general-section link-prototype">
    <h2>Prototipado</h2>
    <p>
      El prototipado de la aplicacion fue realizado con la herramienta <strong>Figma</strong> - 
      <a 
        class="links" 
        id="prototipo" 
        href="https://www.figma.com/design/bKfshRovTLBGi7nLWXx98K/TP-Seguridad-Vial?node-id=0-1&t=E20AD6kw9JKeut61-1" 
        target="_blank">
          Enlace al Figma
      </a>
    </p>
  </section>
  <section class="general-section link-repository">
    <h2>Repositorios</h2>
    <p>
      Para el control de versiones y desarrollo de la aplicación utilizamos <strong>Git</strong> - 
      <a class="links" id="repositorio" href="https://github.com/Yuchan45/ddw-tp-equipo10" target="_blank">
        Enlace al Repositorio
      </a>
    </p>
  </section>
  <footer class="footer-container">
    <div class="top-row">
      <img src="../resources/images/logos/LogoUADE.png" alt="Logo UADE">
      <h3>Diseño y desarrollo web - 2024</h3>
      <h3>Equipo 10</h3>
    </div>
    <p>Derechos reservados - Sitio desarrollado para uso educativo</p>
  </footer>
  <script src="../resources/js/navBehaviour.js"></script>
</body>
</body>

</html>