<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./resources/images/logos/logo-seguridad-vial.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../resources/css/avances.css">
  <link rel="stylesheet" href="../resources/css/styles.css">
  <title>Avances</title>
</head>
<body>
  <div class="nav-bar-container">
    <div class="nav-left">
      <img src="./resources/images/logos/logo-seguridad-vial.png" alt="" srcset="">
    </div>
    <ul class="nav-right">
      <li><a href="#banner">Inicio</a></li>
      <li><a href="#goal">Objetivo</a></li>
      <li><a href="./views/integrantes.html">Integrantes</a></li>
      <li><a href="./views/avances.html">Avances</a></li>
      <li><a href="./views/juegos.html">Juegos</a></li>
    </ul>
    <div class="menu-btns">
      <i class="fa-bars fa" id="menu"></i>
      <!-- <i class="fa fa-close" id="close"></i> -->
    </div>
  </div>
  <div class="menu-overlay hidden-menu">
    <ul class="items">
      <li><a href="#banner">Inicio</a></li>
      <li><a href="#goal">Objetivo</a></li>
      <li><a href="./views/integrantes.html">Integrantes</a></li>
      <li><a href="./views/avances.html">Avances</a></li>
      <li><a href="./views/juegos.html">Juegos</a></li>
    </ul>
  </div>
  <section class="banner-container" id="banner">
    <div class="banner"></div>
    <div class="overlay">
      <h1>Avances</h1>
    </div>
  </section>
  <section class="general-section target-audience" id="target">
    <h2>Público objetivo</h2>
    <div class="target-content">
      <p>
        El sitio de seguridad vial está dirigido a un <span>Público amplio y diverso</span> con el objetivo de fomentar 
        la <span> conciencia y educación </span> sobre la seguridad en las vías. Nuestra propuesta web es inclusiva
        y no distingue por género. Nos dirigimos a niños y adolescentes de 6 a 18 años, 
        aunque también incluimos contenido para adultos interesados en la seguridad vial. 
        Motivo por el cual la pagina está diseñada para ser atractiva y accesible para un amplio público.<br><br>
        <span>"Seguridad Vial: Todos Somos Responsables"</span></p>
    </div>
  </section>
  <section class="general-section color-palette" id="palette">  
    <h2>Paleta de colores</h2>
    <div class="palette-content">
      <div class="box box1">#009EDF</div>
      <div class="box box2">#FCC31E</div>
      <div class="box box3">#FF232B</div>
      <div class="box box4">#22262A</div>
    </div>
  </section>
  <footer class="footer-container">
    <div class="top-row">
      <img src="./resources/images/logos/LogoUADE.png" alt="Logo UADE">
      <h3>Diseño y desarrollo web - 2024</h3>
      <h3>Equipo 10</h3>
    </div>
    <p>Derechos reservados - Sitio desarrollado para uso educativo</p>
  </footer>
  
  <script src="./resources/js/navBehaviour.js"></script>
</body>
</body>
</html>