<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../resources/images/logos/logo-seguridad-vial.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../resources/css/styles.css">
  <link rel="stylesheet" href="../resources/css/juegos.css">
  <link rel="stylesheet" href="../resources/css/integrantes.css">
  <title>Integrantes</title>
</head>
<body>
  <div class="nav-bar-container">
    <div class="nav-left">
      <img src="../resources/images/logos/logo-seguridad-vial.png" alt="Logo Seguridad Vial">
    </div>
    <ul class="nav-right">
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="../index.html#goal">Objetivo</a></li>
      <li><a href="./integrantes.html">Integrantes</a></li>
      <li><a href="./avances.html">Avances</a></li>
      <li><a href="./juegos.html">Juegos</a></li>
    </ul>
    <div class="menu-btns">
      <i class="fa-bars fa" id="menu"></i>
    </div>
  </div>

  <div class="container">
    <div class="heading">
      <h2>Integrantes</h2>
    </div>
    <div class="members">
        <div class="member">
            <a href="https://yuchan45.github.io/ddw-parcial/" target="_blank"><img src="../resources/images/integrantes/Nakasone.jpg" alt="Tomás Yu Nakasone"></a>
            <p>Tomás Yu Nakasone<br>1183550</p>
        </div>
        <div class="member"> 
            <a href="https://nachorosales.github.io/fichaPersonal/" target="_blank"><img src="../resources/images/integrantes/Rosales.png" alt="Ignacio Ezequiel Rosales"></a>
            <p>Ignacio Ezequiel Rosales<br>1152332</p>
        </div>
        <div class="member">
            <a href="https://nicolas-yunes.github.io/FichaPersonal/" target="_blank"><img src="../resources/images/integrantes/Yunes.png" alt="Nicolas Eduardo Yunes Marangoni"></a>
            <p>Nicolas Eduardo <br> Yunes Marangoni<br>1184271</p>
        </div>
        <div class="member">
            <a href="https://teincho01.github.io/UADE/" target="_blank"><img src="../resources/images/integrantes/Shindo.jpg" alt="Teo Valentín Shindo"></a>
            <p>Teo Valentín Shindo<br>1135901</p>
        </div>
        <div class="member">
            <a href="https://thiagovg1.github.io/parcialdyw/" target="_blank"><img src="../resources/images/integrantes/Vazquez.jpg" alt="Thiago Vazquez Grethe"></a>
            <p>Thiago Vazquez Grethe<br>1180354</p>
        </div>
    </div>
  </div>


  <footer class="footer-container">
    <div class="top-row">
      <img src="../resources/images/logos/LogoUADE.png" alt="Logo UADE">
      <h3>Diseño y desarrollo web - 2024</h3>
      <h3>Equipo 10</h3>
    </div>
    <p>Derechos reservados - Sitio desarrollado para uso educativo</p>
  </footer>
  <script src="../resources/js/navBehaviour.js"></script>

</body>
</html>