<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../resources/images/logos/logo-seguridad-vial.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../resources/css/styles.css">
  <link rel="stylesheet" href="../resources/css/juegos.css">
  <title>Juegos - Seguridad Vial</title>
</head>
<body>
  <div class="nav-bar-container">
    <div class="nav-left">
      <img src="../resources/images/logos/logo-seguridad-vial.png" alt="top-left-logo" srcset="">
    </div>
    <ul class="nav-right">
      <li><a href="../index.html#banner">Inicio</a></li>
      <li><a href="../index.html#goal">Objetivo</a></li>
      <li><a href="./integrantes.html">Integrantes</a></li>
      <li><a href="./avances.html">Avances</a></li>
      <li><a href="./juegos.html">Juegos</a></li>
    </ul>
    <div class="menu-btns">
      <i class="fa-bars fa" id="menu"></i>
      <!-- <i class="fa fa-close" id="close"></i> -->
    </div>
  </div>
  <div class="menu-overlay hidden-menu">
    <ul class="items">
      <li><a href="../index.html#banner">Inicio</a></li>
      <li><a href="../index.html#goal">Objetivo</a></li>
      <li><a href="./integrantes.html">Integrantes</a></li>
      <li><a href="./avances.html">Avances</a></li>
      <li><a href="./juegos.html">Juegos</a></li>
    </ul>
  </div>
  <section class="banner-container">
    <div class="banner">
      <h1>JUEGOS</h1>
      <p>Concientización sobre seguridad vial</p>
    </div>
  </section>
  <section class="games-section">
    <div class="game-item">
      <img src="../resources/images/juegos/default.jpeg" alt="Juego 1">
      <div class="game-info">
        <h3>Memo Test</h3>
        <p>El Memotest, también conocido como juego de memoria o juego de pares, es un juego de mesa educativo diseñado para mejorar la memoria y la concentración. El objetivo del juego es encontrar todas las parejas de cartas idénticas en el menor número de intentos posible.</p>
        <a href="https://example.com/memo-test" target="_blank">Link al juego</a>
        <p>
          <strong>Desarrollador: </strong><br>Tomas Yu Nakasone<br>
          <strong><span style="font-weight: bold;">LU:</span></strong> 1183550<br>
          <strong>Repositorio: </strong><a href="https://github.com/Yuchan45/ddw-memotest" target="_blank">Memotest</a>
        </p>
      </div>
    </div>
    <div class="game-item">
      <img src="../resources/images/juegos/Ahorcado.jpg" alt="Juego 2">
      <div class="game-info">
        <h3>Ahorcado</h3>
        <p>El ahorcado es un juego de lápiz y papel para dos o más jugadores. Un jugador piensa en una palabra, frase u oración y el otro trata de adivinarla según lo que sugiere por letras o dentro de un cierto número de oportunidades.</p>
        <a href="https://teincho01.github.io/juegoTeo/" target="_blank">Link al juego</a>
        <p>
          <strong>Desarrollador: </strong><br>Teo Shindo<br>
          <strong><span style="font-weight: bold;">LU: </span></strong> 1135901<br>
          <strong>Repositorio: </strong><a href="https://github.com/Teincho01/juegoTeo" target="_blank">Ahorcado</a>
        </p>
      </div>
    </div>
    <div class="game-item">
      <img src="../resources/images/juegos/scribble.png" alt="Juego 3">
      <div class="game-info">
        <h3>Scribble</h3>
        <p>"Scribble de palabras" es un juego digital donde los jugadores deben formar palabras válidas utilizando letras al azar, desafiando su habilidad lingüística y creatividad para obtener la máxima puntuación.</p>
        <a href="https://nachorosales.github.io/Word-Scramble-Game/" target="_blank">Link al juego</a>
        <p>
          <strong>Desarrollador: </strong><br>Ignacio Ezequiel Rosales<br>
          <strong><span style="font-weight: bold;">LU:</span></strong> 1152332<br>
          <strong>Repositorio: </strong><a href="https://github.com/nachorosales/Word-Scramble-Game " target="_blank">Scribble</a>
        </p>
      </div>
    </div>
    <div class="game-item">
      <img src="../resources/images/juegos/TypeTest.png" alt="Type Test">
      <div class="game-info">
        <h3>Type Test</h3>
        <p>El "Type Test" es un juego donde ponemos a prueba tu habilidad de typeo. Asegurate de ser rapido y preciso, ya que, a parte de tu velocidad, medimos la exactitud a la hora de escribir!</p>
        <a href="https://nicolas-yunes.github.io/TypeTest1/" target="_blank">Link al juego</a>
        <p>
          <strong>Desarrollador: </strong><br>Nicolas Eduardo Yunes Marangoni<br>
          <strong><span style="font-weight: bold;">LU:</span></strong> 1184271<br>
          <strong>Repositorio: </strong><a href="https://github.com/Nicolas-Yunes/TypeTest1" target="_blank">Type Test</a>
        </p>
      </div>
    </div>
    <div class="game-item">
      <img src="../resources/images/juegos/sopaDeLetras.jpg" alt="Sopa de Letras">
      <div class="game-info">
        <h3>Sopa de Letras</h3>
        <p>Una sopa de letras es un juego de palabras que consiste en una cuadrícula de letras dispuestas de manera aleatoria. Dentro de esta cuadrícula, se esconden palabras que el jugador debe encontrar. Las palabras pueden estar ubicadas en cualquier dirección: horizontal, vertical, diagonal y pueden leerse hacia adelante o hacia atrás.</p>
        <a href="https://thiagovg1.github.io/juegotp/" target="_blank">Link al juego</a>
        <p>
          <strong>Desarrollador: </strong><br>Thiago Vazquez Grethe<br>
          <strong><span style="font-weight: bold;">LU:</span></strong>1180354<br>
          <strong>Repositorio: </strong><a href="https://github.com/ThiagoVG1/juegotp" target="_blank">Sopa de Letras</a>
        </p>
      </div>
    </div>
  </section>
  <footer class="footer-container">
    <div class="top-row">
      <img src="../resources/images/logos/LogoUADE.png" alt="Logo UADE">
      <h3>Diseño y desarrollo web - 2024</h3>
      <h3>Equipo 10</h3>
    </div>
    <p>Derechos reservados - Sitio desarrollado para uso educativo</p>
  </footer>
  <script src="../resources/js/navBehaviour.js"></script>
</body>
</html>
