
/**** Banner ****/
.banner-container {
  width: 100vw;
  height: 80vh;
}

.banner-container .banner {
  width: 100%;
  height: 80vh;
  background-image: url(../images/banners/toon_banner_no_txt.png);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.banner-container .overlay {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-container .overlay > h1 {
  margin: 15vh;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  color: var(--deep-black);
  text-shadow: 4px 4px 10px rgb(79 79 79 / 45%);
}


/*** Project Goal ***/
.general-section {
  margin: 50px 0 100px;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general-section > h2 {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 600;
}

.project-goal .goal-content > p {
  font-size: 1rem;
  color: var(--black);
  margin-top: 25px;
}

.project-goal .goal-content > p > span {
  color: var(--blue);
}

.project-goal .goal-content > img {
  display: none;
}


/*** Team Info ***/
.team-info .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.team-info .info-container > img {
  width: 50vw;
  max-width: 250px;
}

.team-info .info-container > ul {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-info .info-container > ul > li > span {
  font-weight: 600;
  letter-spacing: -1px;
}






/* Media queries */
@media only screen and (max-width: 319px) {

}

@media only screen and (min-width: 320px) and (max-width: 479px) {

}

@media only screen and (min-width: 768px) {

  /* NavBar */
  .nav-bar-container {
    padding: 0 150px;
    height: 80px;
  }
  .nav-bar-container .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  .nav-bar-container .nav-right li > a {
    font-weight: 600;
  }
  .nav-bar-container .menu-btns {
    display: none;
  }


  /* Banner */
  .banner-container .overlay > h1 {
    font-size: 7rem;
  }

  /* Goal */
  .general-section {
    margin: 150px 0 200px;
    padding: 0 150px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .general-section > h2 {
    font-size: 2.5rem;
  }

  .goal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .project-goal .goal-content > p {
    font-size: 1.2rem;
    width: 70%;
  }
  .project-goal .goal-content > img {
    width: 250px;
    display: block;
  }

  /* Team info */
  .team-info .info-container {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  .team-info .info-container > ul > li {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1200px)  {

}

